# Ignore all project data
data/
pydata/
geom_*/
goes_data/

# Raw science formats
*.cdf
*.nc
*.txt
*.tab
*.dat
*.gz

# Notebooks
notebooks/*.ipynb

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Mac junk
.DS_Store
